<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Bamboo Community Theme</h2>
        <div class="oe_span12">
            <h3 class="oe_slogan">How to Custom </h3>
        </div>
        <div class="oe_slogan">
            <a class="btn btn-primary btn-lg" style="color: white" rel="nofollow" href="#custom">
                <i class="fa fa-external-link"></i>Jump
            </a>
        </div>
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="sidebar1.png"/>
        </div>
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="swither1.png"/>
        </div>
        <div class="oe_span6">
            Odoo 10.0 community back-end sidebar and AppSwither theme
            <ul class="oe_mt32 text-left">
                <li>
                    It's very efficient when it runs in different terminals
                </li>
                <li>
                    Under the PC terminal, the sidebar is added to allow for quick work.
                </li>
                <li>
                    Under the mobile terminal, use the App Swither.
                </li>
                <li>
                    Beautiful login page.
                </li>
            </ul>
        </div>
        <div class="oe_span6">
            <p class="oe_mt16"><b style="color: blue">Login:</b> demo  <b style="color: blue">Password:</b> demo</p>
            <a class="btn btn-primary btn-lg" style="color: white" rel="nofollow" href="http://54.71.162.151:8069/web?db=bamboo" target="_blank">
                <i class="fa fa-external-link"></i>Demo
            </a>
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Sidebar Menu</h2>
        <h3 class="oe_slogan"></h3>
        <div class="oe_span12">
            <img src="menu.png"/>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">App Swither</h2>
        <div class="oe_span6">
            <p class="oe_mt32 text-justify">
                App Swither in the mobile terminal small size screen easy to operate.
            </p>
        </div>
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="swither2.png"/>
        </div>
    </div>
</section>
<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Beautiful login page</h2>
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="login.png"/>
        </div>
        <div class="oe_span6">
            <ul class="oe_mt32 text-justify">
                <li>Login form landscaping.</li>
                <li>Background image switch.</li>
                <li>Switch the database on a page.</li>
            </ul>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Mobile Compatible View</h2>
        <div class="oe_row oe_spaced">
            <div class="oe_span4">
                <img class="oe_picture oe_screenshot" src="mlogin.png">
                <h4 class="oe_mt32 oe_mb8 text-center">
                    <b>Login</b>
                </h4>
            </div>
            <div class="oe_span4">
                <img class="oe_picture oe_screenshot" src="AppSwither.png">
                <h4 class="oe_mt32 oe_mb8 text-center">
                    <b>AppSwither</b>
                </h4>
            </div>
            <div class="oe_span4">
                <img class="oe_picture oe_screenshot" src="inbox.png">
                <h4 class="oe_mt32 oe_mb8 text-center">
                    <b>Inbox</b>
                </h4>
            </div>

        </div>
        <div class="oe_row oe_spaced">
            <div class="oe_span4">
                <img class="oe_picture oe_screenshot" src="kanban.png">
                <h4 class="oe_mt32 oe_mb8 text-center">
                    <b>Kanban View</b>
                </h4>
            </div>
            <div class="oe_span4">
                <img class="oe_picture oe_screenshot" src="form.png">
                <h4 class="oe_mt32 oe_mb8 text-center">
                    <b>Form View</b>
                </h4>
            </div>
            <div class="oe_span4">
                <img class="oe_picture oe_screenshot" src="form-edit.png">
                <h4 class="oe_mt32 oe_mb8 text-center">
                    <b>Form View (edit mode)</b>
                </h4>
            </div>

        </div>
        <div class="oe_row oe_spaced">
            <div class="oe_span4">
                <img class="oe_picture oe_screenshot" src="tree.png">
                <h4 class="oe_mt32 oe_mb8 text-center">
                    <b>Tree  View</b>
                </h4>
            </div>
            <div class="oe_span4">
                <img class="oe_picture oe_screenshot" src="control_panel1.png">
                <h4 class="oe_mt32 oe_mb8 text-center">
                    <b>Filters, Group by, Favourites</b>
                </h4>
            </div>
            <div class="oe_span4">
                <img class="oe_picture oe_screenshot" src="control_panel2.png">
                <h4 class="oe_mt32 oe_mb8 text-center">
                    <b>Search Suggestion</b>
                </h4>
            </div>

        </div>
        <div class="oe_row oe_spaced">
            <div class="oe_span4">
                <img class="oe_picture oe_screenshot" src="caledar.png">
                <h4 class="oe_mt32 oe_mb8 text-center">
                    <b>Caledar View</b>
                </h4>
            </div>
            <div class="oe_span4">
                <img class="oe_picture oe_screenshot" src="preferences.png">
                <h4 class="oe_mt32 oe_mb8 text-center">
                    <b>Change Preferences</b>
                </h4>
            </div>
            <div class="oe_span4">
                <img class="oe_picture oe_screenshot" src="graph.png">
                <h4 class="oe_mt32 oe_mb8 text-center">
                    <b>Graph View</b>
                </h4>
            </div>

        </div>
        <div class="oe_row oe_spaced">
            <div class="oe_span4">
                <img class="oe_picture oe_screenshot" src="pie.png">
                <h4 class="oe_mt32 oe_mb8 text-center">
                    <b>Pie Chart</b>
                </h4>
            </div>
            <div class="oe_span4">
                <img class="oe_picture oe_screenshot" src="line.png">
                <h4 class="oe_mt32 oe_mb8 text-center">
                    <b>Line Chart</b>
                </h4>
            </div>
        </div>
    </div>
</section>

<div style="
    border: 0;
    margin: 40px 0;
    height: 4px;
    border-top: #ddd 1px solid;
    border-bottom: #ddd 1px solid;
    text-align: center;
    position: relative;
    clear: both;"><i class="fa fa-star fa-2x" style="
    color: #bbb;
    background: #fff;
    text-align: center;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 50px;
    font-size: 20px;
    position: absolute;
    top: -25px;
    left: 50%;
    margin: 0 auto 0 -25px;"></i></div>


<section class="oe_container" style="font-family: 'Lato', 'Open Sans', 'Helvetica', Sans;">
    <div class="oe_row" id="custom">
        <h2 class="oe_slogan">How to Custom </h2>
        <div class="separator" style="display: block;width: 60px;height: 5px;margin: 15px auto 15px;background-color: #d3b61c;position: relative; border: 1px solid #d3b61c;"></div>

        <div class="row" style="color: #444;margin-top: 15px;">
            <div class="col-md-12">
                <ul style="line-height: 1.7;">
                    <li>
                        <h3>Hide sidebar</h3>
                        Found in the <b style="background:#000;color: #fff;border-bottom: #000 1px solid;">file
                        /templates/assets.xml
                    </b>,And commented out the content
                        <pre>
&lt;link rel="stylesheet" type="text/less" href="/tea_community_theme/static/src/less/webclient_layout_have_sidebar.less"/&gt;

&lt;script&gt; type="text/javascript" src="/tea_community_theme/static/src/js/sidebar.js"/&gt;

</pre>Uncomment the following code
                        <pre>
&lt;link rel="stylesheet" type="text/less" href="/tea_community_theme/static/src/less/webclient_layout_no_sidebar.less"/&gt;

&lt;xpath expr="//div[hasclass('o_main')]" position="replace"/&gt;
                        </pre>
                        Found in the  <b style="background:#000;color: #fff;border-bottom: #000 1px solid;">file
                        __manifest__.py
                    </b>,And commented out the content
                        <pre>
'templates/backend.xml',
                        </pre>
                        Found in the <b style="background:#000;color: #fff;border-bottom: #000 1px solid;">file
                        /static/src/js/web_client.js
                    </b>,Line 147,Uncomment the following code
                        <pre>
set_action_manager: function () {
            this.action_manager = new ActionManager(this, {webclient: this});
            return this.action_manager.appendTo(this.$el);
        },
                        </pre>
                    </li>
                    <li>
                        <h3>Show sidebar</h3>
                        Hides the sidebar's anti-operation
                    </li>
                    <li>
                        <h3>Hide the APP switcher button</h3>
                        Found in the  <b style="background:#000;color: #fff;border-bottom: #000 1px solid;">file
                        /static/src/less/navbar.less
                    </b>,Line 147,Uncomment the following code
                        <pre>
> a, > button{

        @media (min-width: @screen-sm-max) {
            display: none !important;
        }
        @media (max-width: @screen-sm-min) {
            display: inline-block !important;
        }
    }

                        </pre>
                    </li>
                    <li>
                        <h3>Display the APP switch button</h3>
                        Hide APP switch button anti operation
                    </li>
                    <li>
                        <h3>Custom Navbar Colour</h3>
                        Found in the <b style="background:#000;color: #fff;border-bottom: #000 1px solid;">/static/src/less/variables.less</b> file
                        <pre class="prettyprint linenums">
@odoo-brand-primary: #4F5A67;
</pre>
                    </li>
                    <li>
                        <h3>Custom Sidebar Colour</h3>
                        Found in the <b style="background:#000;color: #fff;border-bottom: #000 1px solid;">/static/src/less/sidebar.less</b> file
                        <pre class="prettyprint linenums">
@odoo-sidebar-bg: #5E6672;
</pre>
                    </li>
                    <li>
                        <h3>Display and hide the text content under the menu icon</h3>
                        Found in the <b style="background:#000;color: #fff;border-bottom: #000 1px solid;">/templates/backend.xml</b> file
                        <br/>
                        Default to dislay
                        <br/>
                        Unsubscribe or Annotations
                        <pre class="prettyprint linenums">
span class="oe_menu_text"
</pre>
                    </li>
                    <li>
                        <h3>Show and hide footer</h3>
                        Found in the <b style="background:#000;color: #fff;border-bottom: #000 1px solid;">/templates/backend.xml</b> file
                        <br/>
                        Default to hide
                        <br/>
                        Unsubscribe or Annotations
                        <pre class="prettyprint linenums">
div class="o_footer"
</pre>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</section>

<div style="
    border: 0;
    margin: 40px 0;
    height: 4px;
    border-top: #ddd 1px solid;
    border-bottom: #ddd 1px solid;
    text-align: center;
    position: relative;
    clear: both;"><i class="fa fa-star fa-2x" style="
    color: #bbb;
    background: #fff;
    text-align: center;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 50px;
    font-size: 20px;
    position: absolute;
    top: -25px;
    left: 50%;
    margin: 0 auto 0 -25px;"></i></div>

<section class="oe_container oe_dark">
    <div class="oe_mt16 oe_mb16">
        <h2 class="oe_slogan">Need Any Help?</h2>
    </div>
    <div class="oe_slogan">
        <a class="btn btn-primary btn-lg mt8" style="color: #FFFFFF !important;" href="mailto:rain.wen@outlook.com"><i class="fa fa-envelope"></i> Email </a>
    </div>
</section>