<head>
  <style>
      .backgrounds{background-color:#fff; color:#0B80E6}
  </style>
</head>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12 oe_mt32 mb32">
            <h3 class="oe_slogan">Add Products by Barcode in Sale, Purchase and Invoice.</h3><h4><br/>Add Products by scanning barcode to avoid mistakes and make work faster in Sale, Purchase and Invoice order. When barcode is scanned it will First search for related barcode and after that it will check for matching Internal reference. <br/>You can add multiple qty of same product also by scanning same barcode multiple time.</h4>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_demo oe_picture oe_screenshot">
            <a href="https://turkeshpatel.odoo.com/blog/blogs-1/post/add-products-by-barcode-in-odoo-32" target="_blank">
                <img src="sale_barcode_almightycs_odoo_turkesh_patel.png">
            </a>
            <div class="oe_demo_footer oe_centeralign">Field to scan barcode and add sale order lines.</div>
        </div>
        <div class="oe_demo oe_picture oe_screenshot mt92">
            <a href="https://turkeshpatel.odoo.com/blog/blogs-1/post/add-products-by-barcode-in-odoo-32" target="_blank">
                <img src="purchase_barcode_almightycs_odoo_turkesh_patel.png">
            </a>
            <div class="oe_demo_footer oe_centeralign">Field to scan barcode and add purchase order lines.</div>
        </div>
        <div class="oe_demo oe_picture oe_screenshot mt92">
            <a href="https://turkeshpatel.odoo.com/blog/blogs-1/post/add-products-by-barcode-in-odoo-32" target="_blank">
                <img src="ci_barcode_almightycs_odoo_turkesh_patel.png">
            </a>
            <div class="oe_demo_footer oe_centeralign">Field to scan barcode and add Invoice lines in Customer invoice.</div>
        </div>
        <div class="oe_demo oe_picture oe_screenshot mt92">
            <a href="https://turkeshpatel.odoo.com/blog/blogs-1/post/add-products-by-barcode-in-odoo-32" target="_blank">
                <img src="vb_barcode_almightycs_odoo_turkesh_patel.png">
            </a>
            <div class="oe_demo_footer oe_centeralign">Field to scan barcode and add Invoice lines in Vendor Bills.</div>
        </div>
        <div class="oe_demo oe_picture oe_screenshot mt92">
            <a href="https://turkeshpatel.odoo.com/blog/blogs-1/post/add-products-by-barcode-in-odoo-32" target="_blank">
                <img src="scan_error_almightycs_odoo_turkesh_patel.png">
            </a>
            <div class="oe_demo_footer oe_centeralign">Error message when no matching product found.</div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h3 class="oe_slogan">Other Configuration</h3>
            <p class="oe_slogan">To use this module no technical knowledge is required even no configuration is needed. Just install module and functionality is ready to use. For more customization and help contactus.</p>
        </div>
    </div>
</section>


<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
                <a href="https://turkeshpatel.odoo.com" target="_blank">
                    <img src="yoo.png" width="200" height="auto">
                </a>
                <div class="oe_demo_footer oe_centeralign">Meet Us</div>
            </div>
        </div>
        <div class="oe_span6">
            <br/><br/>
            <h2 class="oe_slogan">Do you need help?</h2>
            <h3 class="oe_slogan">
                Let's offer you the best services!
            </h3>
            <p class="oe_mt32 text-center">
                Contact us by our official channels.
            </p>
            <p class="oe_mt32 text-center">
                Skype: turkesh4friends 
            </p>
            <div class="oe_spaced">
                <ul class="text-center list-inline">
                    <li>
                        <a href="https://in.linkedin.com/pub/patel-turkesh/1b/51b/32b" Target="_blank"><i class="fa fa-linkedin-square fa-xs backgrounds"></i></a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/public/Turkesh-Patel" Target="_blank"><i class="fa fa-facebook-square fa-xs backgrounds"></i></a>
                    </li>
                    <li>
                        <a href="https://github.com/tpa-odoo" Target="_blank"><i class="fa fa-github-square fa-xs backgrounds"></i></a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/+TurkeshPatel" Target="_blank"><i class="fa fa-google-plus-square fa-xs backgrounds"></i></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/turkeshpatel?lang=en" Target="_blank" ><i class="fa fa-twitter-square fa-xs backgrounds"></i></a>
                    </li>

                    <li>
                        <a title="Contact us" data-toggle="tooltip" data-placement="left" Target="_blank" href="https://turkeshpatel.odoo.com/page/website.contactus"><i class="fa fa-envelope-square fa-xs backgrounds"></i></a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</section>

