<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan" style="color:#62d2ea;">Fast and Fully Responsive HTML5 Bootstrap Theme</h2>
            <p class=" text-center text-muted" style=" font-size:20px">Kingfisher is one of the best selling themes available in the Odoo marketplace. It is a fully responsive HTML5 theme built with bootstrap and optimized for speed and performance. Dozens of ecommerce stores have put their faith in Kingfisher theme because of its robust design and plentiful snippet options as well as our world class and reliable support. Read on to find out why Kingfisher is the right choice for your Odoo ecommerce store. </p>
        </div>
    </div>
    <div class="container-fluid" style="background-color:#E8E8E8; padding:20px 0px 90px 0px">
        <div class="oe_row oe_spaced">
            <h2 class="oe_slogan" style="color:#62d2ea;">Why Kingfisher Theme</h2>
        </div>
        <div class="container" style="line-height:32px;">   
            <div class="col-md-12 text-center">
                <img src="icons.png" class="img-responsive" />
            </div>
        </div>
    </div>
    <div class="container" style="border-bottom: 1px solid rgba(225, 225, 225, 0.57); padding:20px 0px">
        <div class="oe_row oe_spaced">
            <h2 class="oe_slogan" style="color:#62d2ea;">Building Blocks</h2>
        </div>
        <div class="container">
            <div class="col-md-12 text-center">
                <img src="building-blocks.jpg" class="img-responsive" />
            </div>
        </div>
    </div>
</section>
<section class="oe_container " style="padding:20px 0px">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#62d2ea; margin-bottom:0px;">Key Features</h2>
    </div>
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <p class="text-muted text-center" style="font-size:20px">Take a look at some of the key features of Kingfisher Theme.</p>
        </div>
    </div>
    <section class="container oe_dark" style="padding: 20px 5px 0px; margin-bottom:50px">
        <div class="container">
            <div class="col-md-6">
                <img class="img-border img-responsive thumbnail" src="mega_menu.png" />
            </div>
            <div class="col-md-6">
                <h3 style="color:#62d2ea;">Mega Menu</h3>
                <ul style="list-style-type:none; padding-left:0">
                    <li>
                        <p class="text-muted text-left">You can add products categories to this dynamic Mega Menu. </p>
                    </li>
                    <li>  
                        <p class="text-muted text-left">The Mega Menu is used to show selected product categories for navigation to offer an improved and navigation experience to the users. </p>
                    </li>
                    <li>
                        <p class="text-muted text-left"> You can manage up to five level navigations through this mega menu. </p>
                    </li>  
            </div>
        </div>
    </section>
    <section class="container oe_dark" style="padding: 20px 5px 0px; margin-bottom:50px">
        <div class="container">
            <div class="col-md-6">
                <h3 class="text-left" style="color:#62d2ea;">Brand Slider</h3>
                <p class="text-muted">You can add and display the brands just above the footer of your website home page by customizing and setting its placement according to the requirement.</p>
            </div>
            <div class="col-md-6">
                <img class="img-border img-responsive thumbnail" src="brand-slider.png" />
            </div>
        </div>
    </section>
       <section class="container oe_dark" style="padding: 20px 5px 0px; margin-bottom:50px">
        <div class="container">
            <div class="col-md-6">
                <img class="img-border img-responsive thumbnail" src="product-detail-page.png" />
            </div>
            <div class="col-md-6">
                <h3 class="text-left" style="color:#62d2ea;">Product Details Page</h3>
                <p class="text-muted">Display the details of the product along with the multiple images of the selected product. Also specify the order of the images to be displayed. Product label will be displayed when mouse will hover on multiple product image sliders.</p>
            </div>
        </div>
    </section>
    <section class="container oe_dark" style="padding: 20px 5px 0px; margin-bottom:50px">
        <div class="container">
            <div class="col-md-6">
                <h3 class="text-left" style="color:#62d2ea;">Theme Customization</h3>
                <p class="text-muted">You can customize the theme the way you want. You can change the theme layout, Theme's main color &amp; Theme's font combination.</p>
            </div>
            <div class="col-md-6">
                <img class="img-border img-responsive thumbnail" src="theme-customization.png" />
            </div>
        </div>
    </section>
    <section class="container oe_dark" style="padding: 20px 5px 0px; margin-bottom:50px">
        <div class="container">
            <div class="col-md-6">
                <img class="img-border img-responsive thumbnail" src="header-footer.png" />
            </div>
            <div class="col-md-6">
                <h3 class="text-left" style="color:#62d2ea;">Header and Footer Customization</h3>
                <p class="text-muted">You can customize the Header and Footer the way you want. You can change the header and footer, main color & font combination.</p>
            </div>
        </div>
    </section>
    <section class="container oe_dark" style="padding: 20px 5px 0px; margin-bottom:50px">
        <div class="container">
            <div class="col-md-6">
                <h3 class="text-left" style="color:#62d2ea;">Snippet for Blog Section</h3>
                <p class="text-muted">Display the latest blogs posted by your site or related to your products with Blog Slider Snippet provided by the theme.
            </p>
            </div>
            <div class="col-md-6">
                <img class="img-border img-responsive thumbnail" src="blog-slider.png" />
            </div>
        </div>
    </section>
    <section class="container oe_dark" style="padding: 20px 5px 0px; margin-bottom:50px">
        <div class="container">
            <div class="col-md-6">
                <img class="img-border img-responsive thumbnail" src="banner_slider.png " />
            </div>
            <div class="col-md-6">
                <h3 class="text-left" style="color:#62d2ea;">Banner Slider Snippet</h3>
                <p class="text-muted">With the Brand Slider Snippet display all the highly engaging brands from your store. Customize content and images for exclusive look & feel of the banner. </p>
            </div>
        </div>
    </section>
    <section class="container oe_dark" style="padding: 20px 5px 0px; margin-bottom:50px">
        <div class="container">
            <div class="col-md-6">
                <h3 class="text-left" style="color:#62d2ea;">Product Slider Snippet</h3>
                <p class="text-muted">Add a snippet to your E-Commerce store containing selected products from product list. From this snippet your customer can directly add product to the cart and can also see ratings of the added product.</p>
            </div>
            <div class="col-md-6">
                <img class="img-border img-responsive thumbnail" src="product-slider-snippet.png" />
            </div>
        </div>
    </section>
    <section class="container oe_dark" style="padding: 20px 5px 0px; margin-bottom:50px">
        <div class="container">
            <div class="col-md-6">
                <img class="img-border img-responsive thumbnail" src="category-slider.png" />
            </div>
            <div class="col-md-6">
                <h3 class="text-left" style="color:#62d2ea;">Category Slider Snippet</h3>
                <p class="text-muted">Add a snippet to your E-Commerce store containing products from selected product Categories. List Multiple Product Categories and add products to them. From this snippet your customer can directly add product to the cart and can also see ratings of the added product.</p>
            </div>
        </div>
    </section>
    <section class="container oe_dark" style="padding: 20px 5px 0px; margin-bottom:50px">
        <div class="container">
            <div class="col-md-6">
                <h3 class="text-left" style="color:#62d2ea;">Multi Products Tab Slider Snippet</h3>
                <p class="text-muted">You can add products of multiple types into one single slider. There will be switchable tabs to display the products. You can add as many products as you want in that slider in numerous tabs.</p>
            </div>
            <div class="col-md-6">
                <img class="img-border img-responsive thumbnail" src="multiple-tabs.png" />
            </div>
        </div>
    </section>
    <section class="container oe_dark" style="padding: 20px 5px 0px; margin-bottom:50px">
        <div class="container">
            <div class="col-md-6">
                <img class="img-border img-responsive thumbnail" src="promo-snippet.png" />
            </div>
            <div class="col-md-6">
                <h3 class="text-left" style="color:#62d2ea;">Promo Snippet</h3>
                <p class="text-muted">Add promo products in your store with editable advertisements. Customer can directly shop for that product from the Promo snippet. You can also add URL for the text and set styles accordingly.</p>
            </div>
        </div>
    </section>
    <section class="container oe_dark" style="padding: 20px 5px 0px; margin-bottom:50px">
        <div class="container">
            <div class="col-md-6">
                <h3 class="text-left" style="color:#62d2ea;">Brand Snippet</h3>
                <p class="text-muted">Display all the branded products that your store sells. Customer can directly shop for products of the available brands from the brand slider.</p>
            </div>
            <div class="col-md-6">
                <img class="img-border img-responsive thumbnail" src="brand-slider.png" />
            </div>
        </div>
    </section>
    <section class="container oe_dark" style="padding: 20px 5px 0px; margin-bottom:50px">
        <div class="container">
            <div class="col-md-6">
                <img class="img-border img-responsive thumbnail" src="single-banner.png" />
            </div>
            <div class="col-md-6">
                <h3 class="text-left" style="color:#62d2ea;">Single Banner without Slider</h3>
                <p class="text-muted">Display the most desired collection of your store with the single banner and highlight it for the store customers.</p>
            </div>
        </div>
    </section>
    <section class="container oe_dark" style="padding: 20px 5px 0px; margin-bottom:50px">
        <div class="container">
            <div class="col-md-6">
                <h3 class="text-left" style="color:#62d2ea;">Testimonials Slider Snippet</h3>
                <p class="text-muted">Show the world what people have to say about your store with the Testimonial Slider Snippet.</p>
            </div>
            <div class="col-md-6">
                <img class="img-border img-responsive thumbnail" src="testimonials.png" />
            </div>
        </div>
    </section>
    <section class="container oe_dark" style="padding: 20px 5px 0px; margin-bottom:50px">
        <div class="container">
            <div class="col-md-6">
                <img class="img-border img-responsive thumbnail" src="flip-image.png" />
            </div>
            <div class="col-md-6">
                <h3 class="text-left" style="color:#62d2ea;">Flipping Product Display Image</h3>
                <p class="text-muted">Customer can see front &amp; back view of product. By hovering on the product image customers can see both the sides of the products.</p>
            </div>
        </div>
    </section>
</section>

<!-- <section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan" style="color:#62d2ea;">Points to Note</h2>
            <ul style="list-style-type:disc; padding:13px;">
                <li>
                    <p class="text-muted" style="font-size:15px">Odoo Kingfisher theme is the perfect theme for ecommerce stores.</p>
                </li>
                <li>
                    <p class="text-muted" style="font-size:15px">Use our installation and customization services to get a brand new store effortlessly.
                    </p>
                </li>
                <li>
                    <p class="text-muted" style="font-size:15px">Regular updates and feature enhancements to ensure your store is up-to-date.
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section> -->
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan" style="color:red;font-size:15px">
               <b>Note: Kingfisher v10's all features are not available in v8 and v9.</b>
            </h2>
        </div>
    </div>
</section>

   <!--  <section class="oe_container " style="padding:20px 0px">
        <div class="oe_row oe_spaced">
            <h2 class="oe_slogan" style="color:#62d2ea; margin-bottom:0px;">You may also like</h2>
        </div>
        <div class="container">
            <div class="col-md-4">
                <a href="https://www.odoo.com/apps/themes/9.0/kingfisher">
                    <img class="img-border img-responsive thumbnail" src="kingfisher.jpg" />
                </a>
            </div>
            <div class="col-md-4">
                <a href="https://www.odoo.com/apps/themes/9.0/falcon_backend_theme">
                    <img class="img-border img-responsive thumbnail" src="falcon_theme.png" />
                </a>
            </div>
            <div class="col-md-4">
                <a href="https://www.odoo.com/apps/themes/9.0/kingfisher_pro_bicycle">
                    <img class="img-border img-responsive thumbnail" src="kingfisher_pro_bicycle.png" />
                </a>
            </div>
        </div>
    </section> -->
    <section class="oe_container">
        <div class="oe_row oe_spaced">
            <div class="col-md-6 img-content">
                <h3>Our Odoo Services</h3>
            </div>
            <div class="bc-span col-md-12">
                <div class="inner-span">
                    <a target="_blank" href="https://www.appjetty.com/odoo/odoo-themes.htm">
                        <img class="img-border img-responsive thumbnail" src="service-banner.png" />
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="oe_container">
        <div class="oe_row oe_spaced">
            <div class="col-md-12 img-content text-center">
                <h2>Technical Help &amp; Support</h2>
                <p style="margin: 30px 0px;">We offer extremely convenient and quick support service to all your technical help &amp; support requests. As our support <br /> service is the parameter defining the success of our business and earning us the brand name.       <br />    Please feel free to contact us</p>
                <div class="text-center">
                    <a style="color: rgb(255, 255, 255); border-color: rgb(49, 91, 143); position: relative; overflow: hidden; background: none 0% 0% repeat scroll rgb(49, 91, 143);" class="btn btn-success btn-lg" rel="nofollow" href="mailto:support@appjetty.com">
                        <i class="fa fa-envelope"></i>  support@appjetty.com </a>
                </div>
                <br />
            </div>
        </div>
    </section>
</section>